<article class="searchImages">
  <div class="container">
  
    <div class="form_container">
  
      <form class="search-form" id="search-form">
  
        <label for="searchQuery">
          <input id="searchQuery" type="text" name="query" autocomplete="off" placeholder="Search images..." />
        </label>
  
        <button class="main-button" type="submit">Search</button>
      </form>
  
    </div>
  
    <ul class="gallery " id="my-element-selector">
      <!-- Список <li> с карточками изображений -->
    </ul>
  
    <button class="button_load main-button " type="submit" data-action="load-more">
      <span class="spiner">
        <div class="loader"></div>
      </span>
  
      <span class="label">Loading...</span>
    </button>

    <div id="anchor"></div>
  </div>
</article>
